{% extends "base.html" %}
{% block content %}
{% if error is defined %}
    <div class="alert alert-warning"> {{ error }} </div>
{% endif %}
<form action="/user/management" method="POST" class="top15">
  <h1> Add user </h1>
  <div class="form-group">
      <label for="email">Email address:</label>
          <input class="form-control" type='email' name='email' id='email'>
    </div>
    <button type="submit" class="btn btn-primary">Get invitation link</button>
</form>
{% if invite is defined %}
    <div class="alert alert-success"> /user/invite/{{ invite }} </div>
{% endif %}
{% endblock %}
